

<div class="d-flex align-items-center">
  <h1>投稿一覧</h1>
  <div class="ml-auto posts_button">
    <a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>
  </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th class="th-text-title" scope="col" style="width: 100px">投稿タイトル</th>
      <th class="th-text-content" scope="col" style="width: 900px">本文</th>
      <th class="th-post-day" scope="col">投稿日</th>
      <th class="th-post-time" scope="col">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="td-text-title"><%= link_to(post.title, "/posts/#{post.id}") %></td>
        <td class="td-text-content"><%= post.content %></td>
        <td class="td-create-time"><%= post.created_at %></td>
        <td class="td-update-time"><%= post.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<!-- ------------------------------------------------------- -->

<div class="main posts0index">
  <div class="container">
    <% @post.each do |post| %>
      <div class="posts-index-item">
        <div ckass="post-left">
          <img src="<% "/user_images/#{post.user.image_name}" %>"
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
























/
